.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  margin: 10px 0 0 50px;
}

.header li {
  list-style-type: none;
  margin-right: 50px;
}
.header ul {
  display: flex;
  font-size: large;
  cursor: pointer;
}